.project__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.project__card {
    background: var(--color-bg-variant);
    padding: 1.13rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: var(--transition);
}

.project__card:hover {

    border-color: var(--color-primary-variant);
    background: transparent;
}

.project__image {
    border-radius: 1rem;
    overflow:hidden;
}

.project__card h3 {
    margin: 1.2rem 0 2rem ;
}

.project__card-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* Media Query for Medium Device */
@media screen and (max-width:1024px) {
    .project__container {
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
}

/* Media Query for Small Devices */
@media screen and (max-width:600px) {
    .project__container {
        grid-template-columns:1fr;
        gap: 1rem;
    }
   
}